<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function DataOperation(obj, e, list, ob){
            console.log(`id=${obj.id}\nX=${e.clientX}\nY=${e.clientY}\n CtrlKey=${e.ctrlKey}\n`);
            console.log(list);
            console.log(ob);
        }
    </script>
</head>
<body>
    <button onclick="DataOperation(this, event, ['neha', 'gayatri'], {Name: 'Mobile'})" id="btnInsert">Insert</button>
</body>
</html>